
@{
    Layout = "~/Views/Shared/DeliveryBoy_Layout.cshtml";
}


Filter By
<select>
    <option se>Book name</option>
    <option>Author name</option>
    <option>Publisher's name</option>
</select>
<input type="text" name="searchText" align="center" />
<input type="Submit" name="searchButton" value="Search" /><br /><br />
<h1>Shop Over 175 Million New and Used Books</h1>
<fieldset>
    <table width="100%" cellspacing="0" cellpadding="5">
        <tr>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <h3>Best Selling Science Fiction</h3>
                <p>
                    Discover these popular fiction titles and much more.
                    Alibris has award winning fiction titles and bona fide
                    page turners on sale now for your reading enjoyment.
                </p>
                @Html.ActionLink("Browse now", "CategoryBook", "Delivery")
            </td>
        </tr>
    </table>
</fieldset>

<br />

<fieldset>
    <table width="100%" cellspacing="0" cellpadding="5">
        <tr>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <h3>Best Selling Drama</h3>
                <p>
                    Discover these popular fiction titles and much more.
                    Alibris has award winning fiction titles and bona fide
                    page turners on sale now for your reading enjoyment.
                </p>
                @Html.ActionLink("Browse now", "CategoryBook", "Delivery")
            </td>
        </tr>
    </table>
</fieldset>

<br />

<fieldset>
    <table width="100%" cellspacing="0" cellpadding="5">
        <tr>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <h3>Best Selling Action and Adventure</h3>
                <p>
                    Discover these popular fiction titles and much more.
                    Alibris has award winning fiction titles and bona fide
                    page turners on sale now for your reading enjoyment.
                </p>
                @Html.ActionLink("Browse now", "CategoryBook", "Delivery")
            </td>
        </tr>
    </table>
</fieldset>

<br />

<fieldset>
    <table width="100%" cellspacing="0" cellpadding="5">
        <tr>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <h3>Best Selling Romance</h3>
                <p>
                    Discover these popular fiction titles and much more.
                    Alibris has award winning fiction titles and bona fide
                    page turners on sale now for your reading enjoyment.
                </p>
                @Html.ActionLink("Browse now", "CategoryBook", "Delivery")
            </td>
        </tr>
    </table>
</fieldset>

<br />

<fieldset>
    <table width="100%" cellspacing="0" cellpadding="5">
        <tr>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <h3>Best Selling Comics</h3>
                <p>
                    Discover these popular fiction titles and much more.
                    Alibris has award winning fiction titles and bona fide
                    page turners on sale now for your reading enjoyment.
                </p>
                @Html.ActionLink("Browse now", "CategoryBook", "Delivery")
            </td>
        </tr>
    </table>
</fieldset>

<br />

<fieldset>
    <table width="100%" cellspacing="0" cellpadding="5">
        <tr>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <img src="../../Resource/Picture/BookPictures/picture_book.jpg" height="100" width="100" /><br />
                @Html.ActionLink("Name", "BookDetails", "Delivery")
            </td>
            <td>
                <h3>Best Selling Journals</h3>
                <p>
                    Discover these popular fiction titles and much more.
                    Alibris has award winning fiction titles and bona fide
                    page turners on sale now for your reading enjoyment.
                </p>
                @Html.ActionLink("Browse now", "CategoryBook", "Delivery")
            </td>
        </tr>
    </table>
</fieldset>

