@model BooksWorld.Models.UserProfile.ChangePasswordModel
@{
    Layout = "~/Views/Shared/DeliveryBoy_Layout.cshtml";
}

<fieldset>@Html.Raw(@TempData["flag"])</fieldset>
<br />
<fieldset>
    <legend><b>CHANGE PASSWORD</b></legend>
    <br />
    <form method="post">
        <table>
            <tr>
                <td><font size="3">Current Password</font></td>
                <td>:</td>
                <td>@Html.PasswordFor(model => model.CurrentPassword)</td>
                <td></td>
            </tr>
            <tr>
                <td><font size="3" color="green">New Password</font></td>
                <td>:</td>
                <td>@Html.PasswordFor(model => model.NewPassword)</td>
                <td></td>
            </tr>
            <tr>
                <td><font size="3" color="red">Retype New Password</font></td>
                <td>:</td>
                <td>@Html.PasswordFor(model => model.RetypeNewPassword)</td>
                <td></td>
            </tr>
        </table>
        <hr />
        <input type="submit" value="Update" />
        @Html.ActionLink("Dashboard", "LoggedinDashboard", "Delivery")
    </form>
</fieldset>